# Artefactos de compilacion
build/

# Binarios flash generados por pico_add_extra_outputs
*.uf2
*.elf
*.bin
*.hex
*.dis

# Bases de datos del compilador y editores
compile_commands.json
.vscode/
.idea/
*.iml

# La otra parte del proyecto vive en la rama 'analog_monitor_flt'
/analog_monitor_flt/